@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

@theme {
  /* Light mode colors */
  --color-primary: #1E5E3D;
  --color-text: #202B5F;
  --color-background: #F6F8F7;
  --color-border: #E2E8F0;
  --color-dark: #0F172A;
  --color-darkBlue: #0F172A;
  --color-nav-base: #ECEDFE;
  --color-nav-active: #FFFFFF;
  --color-nav-indicator: #1E5E3D;
  --color-input-bg: #F8FAFC;
  --color-input-border: #E2E8F0;
  --color-placeholder: #6C757C;
  --color-checkbox-bg: #E8EFEC;
  --color-green-bg: #E8EFEC;
  --color-disabled: #C1C1C1;
  --color-card-background: #FFFFFF;
  /* Font */
  --font-sans: var(--font-manrope), system-ui, sans-serif;
}

/* Dark mode colors */
.dark {
  color-scheme: dark;
  --color-primary: #1E5E3D;
  --color-text: #FFFFFF;
  --color-background: #3e4354;
  --color-border: #334155;
  --color-dark: #F8FAFC;
  --color-darkBlue: #0F172A;
  --color-nav-base: #ECEDFE;
  --color-nav-active: #FFFFFF;
  --color-nav-indicator: #2ECC71;
  --color-input-bg: #1E293B;
  --color-input-border: #475569;
  --color-placeholder: #94A3B8;
  --color-checkbox-bg: #9ab5a3;
  --color-green-bg: #9ab5a3;
  --color-disabled: #475569;
  --color-card-background: #262c3e;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: theme(colors.background);
  color: theme(colors.text);
}

section[id] {
  scroll-margin-top: 5rem; /* altura del header */
}

.container {
  @apply px-8
}

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  backface-visibility: hidden;
}

.embla__slide {
  min-width: 0;
  position: relative;
}

